//section: web
//======================
.service-icon.web{
    color: #E64A48;   
}
.service-border.web{
  border-bottom: solid 0.3em #E64A48;
}  
 
.web{
  strong{
    color: #E64A48;
  } 
}

// section: apps
//======================
.service-icon.apps{
    color: #009540;   
}
.service-border.apps{
  border-bottom: solid 0.3em #009540;
}  
 
.apps{
  strong{
    color: #009540;
  } 
}

// section: redes
//======================
.service-icon.redes{
    color: #20436D;   
}
.service-border.redes{
  border-bottom: solid 0.3em #20436D;
}  
 
.redes{
  strong{
    color: #20436D;
  } 
}

// section: seo
//======================
.service-icon.seo{
    color: #009EE2;   
}
.service-border.seo{
  border-bottom: solid 0.3em #009EE2;
}  
 
.seo{
  strong{
    color: #009EE2;
  } 
}

// section: motion
//======================
.service-icon.motion{
    color: #A2195B;   
}
.service-border.motion{
  border-bottom: solid 0.3em #A2195B;
}  
 
.motion{
  strong{
    color: #A2195B;
  } 
}

// section: tienda
//======================
.service-icon.tienda{
    color: #39A935;   
}
.service-border.tienda{
  border-bottom: solid 0.3em #39A935;
}  
 
.tienda{
  strong{
    color: #39A935;
  } 
}

// section: animacion
//======================
.service-icon.animacion{
    color: #81358A;   
}
.service-border.animacion{
  border-bottom: solid 0.3em #81358A;
}  
 
.animacion{
  strong{
    color: #81358A;
  } 
}


// section: multimedia
//======================
.service-icon.multimedia{
    color: #00A099;   
}
.service-border.multimedia{
  border-bottom: solid 0.3em #00A099;
}  
 
.multimedia{
  strong{
    color: #00A099;
  } 
}

// section: diseño
//======================
.service-icon.diseño{
    color: #F29100;   
}
.service-border.diseño{
  border-bottom: solid 0.3em #F29100;
}  
 
.diseño{
  strong{
    color: #F29100;
  } 
}

// section: marketing
//======================
.service-icon.marketing{
    color: #2B244E;   
}
.service-border.marketing{
  border-bottom: solid 0.3em #2B244E;
}  
 
.marketing{
  strong{
    color: #2B244E;
  } 
}