header
    section.hero#inicio
        .hero__logo
            img(src="../images/logo.png", alt="" width="1200")
        .hero__image
            .hero__imagesDown
                img(src="../images/im1.png", alt="" class="img1 wow slideInLeft" data-wow-duration="2s")
                img(src="../images/im2.png", alt="" class="img2 wow slideInRight" data-wow-duration="1800ms")
            .hero__imagesUp
                img(src="../images/im3.png", alt="" class="img3 wow slideInDown" data-wow-duration="2s" data-wow-delay="100ms")
                img(src="../images/im4.png", alt="" class="img4 wow slideInRight" data-wow-duration="800ms" )
        .hero__contact
            +contacto('¿Esta dispuesto a iniciar?','', '+57 310 861 46 08', '+57 314 723 40 97','Quiero dar el primer paso')
        .hero__emphasis
            .hero__title
                h2.mainTitle
                    | Posicionamos en la WEB sus mejores ideas.
            .hero__phrase
                p.phraseContaint 
                    | Impulsamos su marca en el mundo digital dándole visibilidad a su negocio para ganar nuevos clientes, incrementar sus ventas e ingresos.
