main
    .about
        .about__title
        .about__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa a modi quod iure aspernatur libero, odit iste sint vel laborum quisquam. Molestias ducimus libero, labore eaque facilis quae odio ipsam!
    .news
        .news__title
        .news__intro
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, reiciendis, iure quia quam dignissimos quae alias dolor reprehenderit repellendus blanditiis, porro assumenda iste nobis est enim quidem temporibus soluta expedita!
        .news__sections
            .news__sections--neWrapper
                .new
                    .new__imagePrimary
                    .new__title
                        .wrapper
                            h2 Control de precios
                    .new__body
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis excepturi necessitatibus fugit repellat nam eligendi expedita sapiente, itaque totam blanditiis consectetur minus ex adipisci velit.
                    .new__imageSecondary
    .socialMedia
        .socialMedia__title
        .socialMedia__intro
            p Amet consectetur adipisicing elit. Voluptates error placeat soluta non est id officiis excepturi aliquid libero doloribus?
        .socialMedia__content
            .socialMedia__content--facebook
                .iconSocial
                    i.fab.fa-facebook-square 
                .wrapperSocial
            .socialMedia__content--twitter
                .iconSocial
                    i.fab.fa-twitter-square
                .wrapperSocial
            .socialMedia__content--instagram
                .iconSocial
                    i.fab.fa-instagram-square
                .wrapperSocial
