section.main
    .quienesSomos
        .quienesSomos__image
        .quienesSomos__title
            h2 QUIENES #[span.pink SOMOS]
        .quienesSomos__subtitle
            h3.subtitlePink Innovación y Tecnología
        .quienesSomos__content
            p Somos una empresa apasionada por el diseño, el desarrollo web, la animación 2D - 3D y la tecnología, invertimos el mayor esfuerzo en el progreso de nuestros aliados, desarrollando #[strong ideas eficientes, innovadoras y funcionales] que sean efectivas para el crecimiento de su marca o negocio a través de la web.
        .quienesSomos__advant
            ul.advantList
                li Brindamos permanente seguimiento a su proyecto para apoyarle en los cambios que necesite.
                li Creamos proyectos siempre enfocados a la productividad y rentabilidad.
                li Todos nuestros diseños y desarrollos están garantizados y respaldados.
                li Su idea es analizada y potenciada por nuestro equipo de profesionales en las áreas de tecnología, comunicación y medios digitales.
    .queHacemos
        section.queHacemos_page
            .queHacemos_image
            .queHacemos__title
                h2 QUE #[span.pink HACEMOS]
            .queHacemos__subtitle
                h3.subtitlePink Empresas que se destacan
            .queHacemos__content
                p.ask ¿Quiere que su empresa llegue a más personas y en cualquier momento?
                p.weAre Somos la mejor compañia de marketing digital y popsicionamiento web de la región.
            .queHacemos__services
                +section_service([
                    ['web','Diseño', 'WEB', 'Posicione su empresa brindándole visibilidad GLOBAL' ],
                    ['apps','Aplicaciones', 'Móviles', 'Exponga sus productos a un Clic de distancia'],
                    ['redes','Social Media', 'Empresarial', 'Expanda su marca con contenido efectivo que lo acerque a sus clientes'],
                    ['seo','Posicionamiento', 'Web', 'Si es el mejor, haga que todos lo noten'],
                    ['motion','Motion', 'Graphics', 'Sus ideas y su imágen ahora cobran vida'],
                    ['tienda','Sitios de', 'E-Commerce', 'Posiciones de manera creativa su negocio en linea'],
                    ['animacion','Diseño 2D y', '3D publicitario', 'Lleve el desempeño de su marca a un nuevo nivel'],
                    ['multimedia','Contenido', 'Interactivo', 'Solo los mejores invierten en la mejor tecnología para destacar su marca'],
                    ['diseño','Diseño Gráfico', 'Corporativo', '¡Una imágen que refleja confianza!'],
                    ['marketing','Marketing','Digital','El paquete Completo de servicios digitales al alcance de empresas innovadoras']
                    ])
    .quienesHacen

    .avancemos
section.footer