
//- ===============================
//- colores adicionales
//- ===============================
// $azulOxford:#264E79;
// $rojoOxford: rgb(191, 53, 57);
//- ===============================
//- color primario
//- ===============================
$clBase: $primario;
$clBaseClaro: tint($clBase, $ligthColorP);
$clBaseTextos:tint($clBase, $tintTextos);
$clBaseAdjust: adjust-color($secundario, $lightness: 10%, $alpha: -0.4);
//- ===============================
//- color secundario
//- ===============================
$clSecondary:$secundario;
$clSecClaro: tint($clSecondary, $ligthColorS);
$clSecDark:darken($secundario, $darkColor);
$clSecTextos:tint($clSecondary, $tintTextos);
$clSecTrans: transparentize($secundario, $transparent);
$clSecGray: grayscale($clSecondary); 
$clSecHue: adjust-hue($secundario, $hueDeg);

//- ===============================
//- color resatle
//- ===============================
$clResalte:$resalte;
$clResalteClaro: tint($clResalte, 50%);
$clResalteTextos:tint($clResalte, 80%);
