
//GENERALES
//path
$path: 'images/';

//Tamaño de fuente para el proyecto
//$fsBase:62.5%;
$fsBase         : 16px;

//alto general
$hBase          : 100vh;

//fuentes
// $ftIncosolata: 'Inconsolata', monospace;
// $ftyanone    : 'Yanone Kaffeesatz', sans-serif;
// $ftRaleway   : 'Raleway', sans-serif;

// grosor
$ligth          : 300;
$normal         : 400;
$medium         : 500;
$bold           : 700;

//Familia de fuentes
$ftroboto       : 'Roboto', sans-serif;
$ftOswald       : 'Oswald', sans-serif;

// helper - color
$hueDeg         : 50deg;
$tintTextos     : 90%;
$darkColor      : 40%;
$transparent    : 0.25;
$ligthColorP    : 90%;
$ligthColorS    : 80%;

// Variables de color
$color          : rgb(0, 169, 157); // base de color del diseño
$txtResalte     : #682917; //colores para usos especiales u opcionales
$baseredes      : #981914; //colores para usos especiales u opcionales
$primario       : #1d70b8; // color predominante en el diseño
$primario2      : #92af44;
$prueba01       : #fff;
$secundario     : rgb(32, 168, 89); // color acentuante o contrastante del diseño
$resalte        : #FFCD05; // color para usar en botones o en alertas
$clAlterno      : #899d12; // color alternativo del secundario
$clTextoGen     : #efefef;

// variables de media query
// $xsScreen    : 470px;
// $smallScreen : 520px;
// $mediumScreen: 750px;
// $wideScreen  : 1024px;
// $largeScreen : 1280px;
// $xlScreen    : 1366px;
// $opScreen    : 1480px;

$xsScreen       : 320px;
$smallScreen    : 480px;
$mediumScreen   : 600px;
$wideScreen     : 760px;
$largeScreen    : 920px;
$xlScreen       : 1200px;
$screen         : 1366px;
$opScreen       : 1400px;
